<div style="display: flex; justify-content: space-between;">
  <h4 style="padding: 0vh 1vw;"><a href="/countries" class="btn btn-light btn-lg">Home</a></h4>
  <h4 style="padding: 0vh 1vw;"><a href="/countries/sports" class="btn btn-light btn-lg">Sports</a></h4>
  <h4 style="padding: 0vh 1vw;"><a href="/countries/athletes" class="btn btn-light btn-lg">Athletes</a></h4>
  <h4 style="padding: 0vh 1vw;"><a href="/countries/logout" class="btn btn-light btn-lg">Log Out</a></h4>
</div>