<%- include('partials/header') %>

<h1 style="text-align: center;">LOGIN</h1>

<form action="/login" method="post" style="text-align: center;">
  <label for="">Username</label><br>
  <input type="text" name="username" id=""><br><br>
  <label for="">Password</label><br>
  <input type="password" name="password" id=""><br><br>
  <div style="text-align: center;" >
    <input class="btn btn-success btn-sm" type="submit" value="LOGIN">
    <a href="/" class="btn btn-primary btn-sm" >BACK</a>
  </div>
</form>
<br>
<br><br>

<p style="text-align: center;"><%= msg %></p>

</body>
</html>