<%- include('partials/header') %>

<h1 style="text-align: center;">LOGIN</h1>

<form action="/login" method="post" style="text-align: center;">
  <label for="">Username</label><br>
  <input type="text" name="username" id=""><br><br>
  <label for="">Password</label><br>
  <input type="password" name="password" id=""><br><br>
  <input type="submit" value="LOGIN">
</form>

<br><br>

<%= msg %>

</body>
</html>