<%- include('partials/header') %>

<h1 style="text-align: center;"><%= halo %></h1>

<br><br>
<div style="justify-content: center; display: flex;">
  <div style="margin: 0vh 1vw;">
    <h3><a class="btn btn-outline-primary btn-lg" href="/register"> REGIST </a> </h3>
  </div>
  <div style="margin: 0vh 1vw;">
    <h3><a class="btn btn-outline-primary btn-lg" href="/login"> LOGIN </a> </h3>
  </div>
</div>

</body>
</html>