<%- include('partials/header') %>

<h1 style="text-align: center;">Olympics</h1>

<br><br>
<div style="text-align: center;">
  <h3 class="btn btn-outline-primary"><a href="/register"> REGIST </a> </h3>
  <h3 class="btn btn-outline-primary"><a href="/login"> LOGIN </a> </h3>
</div>

</body>
</html>